%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [
	    debug_info
	    % warnings_as_errors
	   ]}.

{xref_warnings, false}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{eunit_opts, [
               % verbose
             ]}.

{deps, [
          {dh_date, {git, "https://github.com/daleharvey/dh_date.git"}},
          {belka,   {git, "https://github.com/gordonguthrie/belka.git"}}
       ]}.

{shell, [
   {config, "config/sys.config"},
    {apps, [smol_db_server]}
]}.
